body{
    font-family: arial;
    font-size: 13px;
    background: #c9c9c9;
}
.clear{
    display: block;
    clear: both;
}
#wrap{
    /*background: white;*/
    width: 1020px;
    margin: auto;
    padding: 5px;
    background-color: #fdf5ee;
}

.star_indication {
    color: #FF0000
}

.form_container{

    width: 900px;
    margin: auto;
    height: 350px;
    overflow: auto;
    overflow-x: hidden;
}
.form_messages{
    width: 390px;
    height: 25px;
    margin: auto;
    /*background-color: silver;*/
    margin-bottom: 10px;
}

.form_success_message{

    font-family: Verdana,Arial,Helvetica,sans-serif;
    color: #3da226;
}
.form_failure_message{

    font-family: Verdana,Arial,Helvetica,sans-serif;
    color: #e41e17;
}

.text{
    padding: 10px;
    border: 1px solid #E6E1C8;
    background: #F3DDA6;
}
.text a{
    text-decoration: none;
}
p{
    font-weight: bold;
    font-family: Verdana,Arial,Helvetica,sans-serif;
}
#navigation{
    width: 200px;
}
#navigation ul{
    list-style: none;
}
#navigation ul li{
    height: 30px;
    border-bottom: 1px dotted #ccc;
}
#navigation ul li a{
    text-indent: 20px;
    padding: 5px 0;
    display: block;
    height: 20px;
    text-decoration: none;
    color: #434343;
    background-image: url(bull.png);
    background-repeat: no-repeat;
    background-position: 5px 6px ;
}
#navigation ul li a:hover{
    background-color: #8E8963;
    background-image: url(bull.png);
    background-repeat: no-repeat;
    background-position: 15px 6px ;
    color: white;
}
#footer{
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    text-align: center;
}

#footer img{
    border: none;
}

#lightbox{
    display:none;
    background:#000000;
    opacity:0.7;
    /*filter:alpha(opacity=90);*/
    position:absolute;
    top:0px;
    left:0px;
    min-width:100%;
    min-height:100%;
    z-index:1000;
}
.pop-up_caption{
    width: 250px;
    height: 23px;
    /*background-color: silver;*/
    float: left;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-weight: bold;
    font-size: 14px;
}
.close_button{
    width: 57px;
    height: 20px;
    float: right;
    background-color: black;
    color: white;
    padding-top: 3px;
    padding-left: 3px;
}
.updated_date{
    width: 200px;
    height: 20px;
    float: left;
    /*background-color: black;*/
    /*color: white;*/
    padding-top: 3px;
    padding-left: 3px;
}
.close_button a{
    color: white;
    font-weight: bold;
}
#lightbox-panel{
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    display:none;
    position:fixed;
    top:100px;
    left:50%;
    margin-left:-200px;
    width:400px;
    background:#FFFFFF;
    padding:10px 15px 10px 15px;
    border:2px solid #CCCCCC;
    z-index:1001;
}
#email_list_lightbox_panel {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    display:none;
    position:fixed;
    top:100px;
    left:50%;
    margin-left:-360px;
    width:700px;
    background:#FFFFFF;
    padding:10px 15px 10px 15px;
    border:2px solid #CCCCCC;
    z-index:1001;
}
#day_wise_list_lightbox_panel{
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    display:none;
    position:fixed;
    top:100px;
    left:50%;
    margin-left:-360px;
    width:700px;
    background:#FFFFFF;
    padding:10px 15px 10px 15px;
    border:2px solid #CCCCCC;
    z-index:1001;
}
#non_productive_customers_list_lightbox_panel{
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    display:none;
    position:fixed;
    top:100px;
    left:50%;
    margin-left:-360px;
    width:700px;
    background:#FFFFFF;
    padding:10px 15px 10px 15px;
    border:2px solid #CCCCCC;
    z-index:1001;
}
.name_board{
    background-color: #F3DDA6;
}
.submit_button{
    height: 45px;
    width: 160px;
    margin: 20px;
}
.search_button{
    width: 100px;
    height: 30px;
    font-weight: bold;
}
#about{
    width: 190px;
    height: 20px;
    position: relative;
    left: 833px;
}
#about a{
    color: #434343;
}

table.report {
    font-family:Verdana,Arial,Helvetica,sans-serif;
    background-color: #CDCDCD;
    margin:10px 0pt 10px;
    font-size: 8pt;
    width: 100%;
    text-align: left;
}
table.report thead tr th, table.report tfoot tr th {
    background-color: #e6EEEE;
    border: 1px solid #FFF;
    font-size: 8pt;
    padding: 4px;
}
table.report thead tr .header {
    /*background-image: url(bg.gif);*/
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}
table.report tbody td {
    color: #3D3D3D;
    padding: 4px;
    background-color: #FFF;
    vertical-align: top;
}
table.report tbody tr.odd td {
    background-color:#599cf6;
    color: white;
}
table.report thead tr .headerSortUp {
    /*background-image: url(asc.gif);*/
}
table.report thead tr .headerSortDown {
    /*background-image: url(desc.gif);*/
}
table.report thead tr .headerSortDown, table.report thead tr .headerSortUp {
    background-color: #8dbdd8;
}

.list_view{
    height: 350px;
    overflow: auto;
    overflow-x: hidden;
}
.option_panel{
    width: auto;
    height: 33px;
    background-color: silver;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-weight: bold;
    padding-left: 30px;
    padding-top: 5px;
}
.controls{
    margin-left: 30px;
    width: 300px;
    height: 30px;
    /*background-color: yellow;*/
    float: left;
}
.loading{
    width: auto;
    height: 100px;
    margin: auto;
    display: none;
    background-image: url(../../img/ajax-loader.gif);
    background-repeat: no-repeat;
}
.analysis{
    width: 480px;
    height: auto;
    margin-left: auto;
    margin-right: auto
}
.analysis_value{
    text-align: right;
}